{%extends 'admin/admindashboard.html'%}

{%block title%}
Chrisllan|All Messages
{%endblock title%}

{%block otherpage_styles%}
@media screen and (max-width:375px){
    .ord_details{
        font-size:10px;
    }
}
{%endblock otherpage_styles%}

{%block contents%}
<div class="row">
    <h2 style='font-family:"lucida-calligraphy"'>Messages</h2>
    <div class="col pt-md-3">
        <table class='table mytable'>
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>Message</th>
                    <th>Date Sent</th>
                </tr>
            </thead>
            <tbody>
                {%for i in msg%}
                <tr class='ord_details'>
                    <td>{{loop.index}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.email}}</td>
                    <td><a href="/view/message/{{i.contact_us_id}}" class='link-success'>View</a></td>
                    <td>{{i.date_sent}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{%endblock contents%}

{%block scripts%}
<script type="text/javascript">
    $(document).ready(function(){
        $('.mytable').DataTable();
    });
</script>
{%endblock scripts%}