{%extends 'admin/admindashboard.html'%}

{%block title%}
Chrisllan|All Product
{%endblock title%}

{%block otherpage_styles%}
@media screen and (max-width:375px){
    .prod_details{
        font-size:10px;
    }
}
{%endblock otherpage_styles%}

{%block contents%}
<div class="row">
    <h2 style='font-family:"lucida-calligraphy"'>All Products</h2>
    <div class="col pt-md-3">
        {%set deleted=get_flashed_messages(category_filter='discarded')%}
        {%for x in deleted%}
        <div class='alert alert-success'>{{x}}</div>
        {%endfor%}
        <table class='table mytable'>
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th class='d-none d-md-block'>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {%for i in products%}
                <tr class='prod_details'>
                    <td>{{loop.index}}</td>
                    <td>{{i.product_name}}</td>
                    <td>{{i.prods_cat_family.cat_name}}</td>
                    <td>{{"{:,.2f}".format(i.product_price)}}</td>
                    <td class='d-none d-md-block'><img src="{{url_for('static',filename='productimages/'+i.product_image)}}" class='img-fluid' width='50px' height='50px'></td>
                    <td><a href="/delete/product/{{i.product_id}}" class="link-danger" onclick="return confirm('Are you sure you want to permanently delete {{i.product_name}}')">Delete</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{%endblock contents%}

{%block scripts%}
<script type="text/javascript">
    $(document).ready(function(){
        $('.mytable').DataTable();
    });
</script>
{%endblock scripts%}