{%extends 'admin/admindashboard.html'%}

{%block title%}
Chrisllan - Edit Product
{%endblock title%}

{%block otherpage_styles%}

{%endblock otherpage_styles%}


{%block contents%}
<div class="row mt-4">
    <div class='col-md-6 offset-md-3 mt-4'>
        <div>
            <h2>Edit Product Details</h2>
        </div>

        {%set notfound=get_flashed_messages(category_filter="item_not_found")%}
        {%for i in notfound%}
        <div class='alert alert-danger'>{{i}}</div>
        {%endfor%}
        
        <form class='row row-cols-md-2' action='/edit/item/' method='post'>
            <div class="mb-3">
                <input type='text' name='item' class='form-control' placeholder='Enter Item Name'>
            </div>
            
            <div class="mb-3">
                <button type='submit' class='btn btn-success'>Search</button>
            </div>
            <div class="mb-3">
                <input type='hidden' name='csrf_token' class='form-control' value='{{csrf_token()}}'>
            </div>
        </form>
    </div>
</div>
{%endblock contents%}


{%block scripts%}
<script type="text/javascript">
    
</script>
{%endblock scripts%}