{%extends 'admin/admindashboard.html'%}

{%block title%}
Chrisllan - Today's Orders
{%endblock title%}

{%block otherpage_styles%}
@media screen and (max-width:425px){
    #DataTables_Table_0_length{
        display:none;
    }
    #DataTables_Table_0_filter{
        font-size:12px;
        float:right;
    }
    #DataTables_Table_0_wrapper{
        font-size:12px;
    }
}
{%endblock otherpage_styles%}

{%block contents%}
<div class="row mt-3">
    <h3 style='font-family:"lucida-calligraphy"'>Today's Orders</h3>
    <div class="col pt-md-3">
        <table class='table mytable'>
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Name</th>
                    <th>Order</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                {%for i in allorders%}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{i.who_ordered.cust_firstname}} {{i.who_ordered.cust_lastname}}</td>
                    <td>{{i.order_status}}</td>
                    <td><a href="/vieworder/{{i.order_id}}" class="link-success" target="_self">Details</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{%endblock contents%}

{%block scripts%}
<script type="text/javascript">
    $(document).ready(function(){
        $('.mytable').DataTable();
    });
</script>
{%endblock scripts%}