{%extends 'admin/admindashboard.html'%}

{%block title%}
Chrisllan - View Orders Details
{%endblock title%}

{%block otherpage_styles%}
@media screen and (max-width:375px){
    
    .table{
        font-size:14px;
    }
}
{%endblock otherpage_styles%}

{%block contents%}
<div class="row">
    <div class="col mt-3" style=" font-family:'lucida-calligraphy'; ">
        <h2 class='text-center'>Order Details</h2><hr>
        <h6>Shipping Address: {{order.shipping_address}}</h6>
        <h6>Reference Number: {{order.ref_no}}</h6>
        <h6>Order Date: {{order.order_date}}</h6>
        <h6>Payment Status: {{order.order_payment}}</h6>
        <h6>Order Status: {{order.order_status}}</h6>
    </div>
</div>

<div class="row">
    <div class="col pt-md-3">
        <table class='table'>
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price(&#8358;)</th>
                </tr>
            </thead>
            <tbody>
                {%for i in specific%}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{i.Ord_details_prod_info.product_name}}</td>
                    <td>{{i.product_qty}}</td>
                    <td>{{i.prod_price}}</td>
                </tr>
                {%endfor%}
                <tr>
                    <td><b>Total</b><td>
                    <td colspan='2'><b>&#8358;{{amt}}</b><td>
                </tr>
            </tbody>
        </table>
        {% if order.order_status != 'Completed'%}
        <form action='/update-order-status/{{id}}' method='post'>
            <input type='hidden' value='{{csrf_token()}}' name="csrf_token">
            <button class='btn btn-success btn-sm'>Change Status</button>
        </form>
        {% endif %}
    </div>
</div>
{%endblock contents%}

{%block scripts%}
<script type="text/javascript">
    $(document).ready(function(){
        $('.mytable').DataTable();
    });
</script>
{%endblock scripts%}