<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <title>Chrisllan By Saphy</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.css')}}">
        <style>
            .button {
                background-color: #4CAF50;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
            }
        </style>
    </head>

    <body style="background-color: #222533; padding: 20px; font-size: 14px; line-height: 1.43; font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;">
    
        <div style="max-width: 600px; margin: 0px auto; background-color: #fff; box-shadow: 0px 20px 50px rgba(0,0,0,0.05);">
        
            <div style="padding: 10px 30px; border-top: 1px solid rgba(0,0,0,0.05);">
                <div style="color: #636363; font-size: 14px;">
                    <p>
                        Dear {{username.upper()}},<br/><br/>
                        Welcome to Chrisllan by Saphy! We’re so excited that you have chosen our platform to make your shopping experience easier and more enjoyable.
                    </p> <br/>
                    
                    <p>
                        At Chrisllan by Saphy, we understand that shopping can be overwhelming and time consuming, so we’ve taken the stress out of it for you. With our easy-to-use interface, you can find the products you want quickly and easily. We also offer exclusive deals and discounts that you won’t find anywhere else.
                    </p> <br/>

                    <p>
                        We’re here to make your shopping experience as smooth and enjoyable as possible. If you ever need help, our customer service team is available 24/7 to answer any questions you may have.                        
                    </p> <br/>

                    <p>
                        Thank you for choosing us and we look forward to helping you find the perfect products for your needs.
                    </p><br/>

                    <p>
                        Best,<br/>Sapphire.
                    </p>
                </div>
            </div>
            
            <div style="background-color: #F5F5F5; padding: 10px; text-align: center;">
                
                <div style="margin-top: 20px; padding-top: 20px; border-top: 1px solid rgba(0,0,0,0.05);">
                
                    <div style="color: #A5A5A5; font-size: 10px;">
                        &copy; {{year}} Chrisllan by Saphy. All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>