{%extends 'user/index.html'%}

{%block title%}Chrisllan - Contact Us{%endblock%}
{%block content%}
<div class='row'>
    <div class="col-md-6 offset-md-3">
        <h3>GET IN TOUCH WITH US</h3>
        <div id='feedback'></div>
        <form id='contact_us_form'>
            <div class='mb-2'>
                <label class='form-label' for='name'>Your Name</label>
                <input type='text' class='form-control' id='name' name='name' required>
            </div>
            <div class='mb-2'>
                <label class='form-label' for='email'>Email Address</label>
                <input type='email' class='form-control' id='email' name='email' required>
            </div>
            <div class='mb-2'>
                <label class='form-label' for='phone'>Phone Number</label>
                <input type='text' class='form-control' id='phone' name='phone' required>
            </div>
            <div class='mb-2'>
                <label class='form-label' for='message'>Leave Your Message</label>
                <textarea id='message' class='form-control' name='message' Placeholder='Leave a message for us' required></textarea>
            </div>
            <input type='hidden' class='form-control' name='csrf_token' value='{{csrf_token()}}' id='csrf_token'>
            <button type='button' id='btnSendMSG' class='btn btn-success mb-3'>SEND MESSAGE</button>
        </form>
    </div>
</div>
{%endblock content%}

{%block scripts%}
<script type='text/javascript' language='javascript'>
    $(document).ready(function(){
        $('#btnSendMSG').click(function(){
            var form= document.getElementById('contact_us_form')
            var formdata= new FormData(form)
            $.ajax({
                url:"/drop_a_message/",
                data:formdata,
                dataType:"text",
                type:"post",
                cache:false,
                contentType:false,
                processData:false,
                success:function(rsp){
                    if(rsp=='Thank You. Message sent.'){
                        $('#feedback').addClass('alert alert-success')
                        $('#feedback').html(rsp)
                        $('#btnSendMSG').prop('disabled',true)
                    }
                    else{
                        $('#feedback').addClass('alert alert-danger')
                        $('#feedback').html(rsp)
                    }
                                
                },  
                error:function(msg){
                    console.log(msg)
                }

            })
        })
    })
</script>

<!--This controls the modal delete item ajax-->
{% for c in cartdeets %}
<script type='text/javascript'>
    $('#removeitem{{c.cart_id}}').click(function(){
        
        discardID=$('#discard{{c.cart_id}}').val();

        var data2send={'trash':discardID}

        $.ajax({
            url:"/removeitem/",
            data:data2send,
            dataType:"text",
            type:"get",
            beforeSend:function(){},
            success:function(rsp){
                $('#deleteitemFeedback').addClass('alert alert-success')
                $('#deleteitemFeedback').text(rsp)
                location.reload()
            },  
            error:function(errormessage){
                console.log(errormessage)
            }
        })
    })
</script>
{% endfor %}

<script type='text/javascript'>
    // empty cart
    $('#btnEmptyCart').click(function(){
        cartuseriD={{session.get('user_cart_id')}}

        var data2send={'emptycartID':cartuseriD}

        $.ajax({
            url:"/emptycart/",
            data:data2send,
            dataType:"text",
            type:"get",
            beforeSend:function(){},
            success:function(rsp){
                $('#deleteitemFeedback').addClass('alert alert-success');
                $('#deleteitemFeedback').text(rsp);
                location.reload()
            },
            error:function(errormessage){
                console.log(errormessage)
            }
        })
    })
</script>
{%endblock scripts%}