{%extends 'user/index.html'%}

{%block title%}Chrysllan - Create Account{%endblock%}

{%block content%}
<div class='row'>
    <!--Create account-->
    <div class='col-md-6' id='create_acct_div'>
        <h3 class='mt-2 text-canter'>Create Account</h3>
        <p>Sign up in less than a minute</p>
        <div id="feedback"></div>
        <form class='row row-cols-md-2' id='create_account_form'>
            <div class='mb-2'>
                <label class='form-label' for='firstname'>First Name</label>
                <input type='text' class='form-control' id='firstname' name='firstname'>
            </div>
            
            <div class='mb-2'>
                <label class='form-label' for='lastname'>Last Name</label>
                <input type='text' class='form-control' id='lastname' name='lastname'>
            </div>
            <div class='mb-2'>
                <label class='form-label' for='phone'>Phone Number</label>
                <input type='text' class='form-control' id='phone' name='phone'>
            </div>
            <div class='mb-2'>
                <label class='form-label' for='email'>Email Address</label>
                <input type='email' class='form-control' id='email' name='email'>
            </div>
            <div class='mb-2'>
                <label class='form-label' for='pswd'>Password</label>
                <input type='password' class='form-control' id='pswd' name='pswd'>
            </div>
            <input type='hidden' class='form-control' name='csrf_token' value='{{csrf_token()}}' id='csrf_token'>
            <button type='button' class='btn btn-success form-control' id='createAccountBtn'>Create Account</button>
            <button type='reset' class='btn btn-danger form-control d-none' id='createAccountResetBtn'>Erase Form</button>
        </form>
        <p class='text-center'>Already have an account?</p>
        <p class='text-center'><a href='/customer/login/' style='text-decoration:none; color:green' id='loginLINK'>LOGIN</a></p>
    </div>
    <div class='col-md-6'>
        <div>
            <img src="{{url_for('static', filename='images/bicycle.png')}}" alt='A png photo of lady riding a bicycle' class='img-fluid'/>
        </div>
    </div>
</div>
{%endblock content%}




{%block scripts%}
<script type='text/javascript' language='javascript'>
    $(document).ready(function(){

        {# Create Account Ajax Call #}

        $('#createAccountBtn').click(function(){
            var form=document.getElementById('create_account_form')
            var formdata=new FormData(form)
            $.ajax({
                url:"/user_account_registration/",
                data:formdata,
                dataType:"text",
                type:"post",
                cache:false,
                contentType:false,
                processData:false,
                success:function(rsp){
                    if(rsp=="Thank you. Registration Successful."){
                        $('#feedback').removeClass('alert alert-danger')
                        $('#feedback').addClass('alert alert-success')
                        $('#feedback').html(rsp)
                        $('#createAccountResetBtn').click()
                    }
                    else{
                        $('#feedback').addClass('alert alert-danger')
                        $('#feedback').html(rsp)
                    }
                },
                error:function(errormsg){
                    console.log(errormsg)
                }
            })
        }) 
    })
</script>


<!--This controls the modal delete item ajax-->
{% for c in cartdeets %}
<script type='text/javascript'>
    $('#removeitem{{c.cart_id}}').click(function(){
        
        discardID=$('#discard{{c.cart_id}}').val();

        var data2send={'trash':discardID}

        $.ajax({
            url:"/removeitem/",
            data:data2send,
            dataType:"text",
            type:"get",
            beforeSend:function(){},
            success:function(rsp){
                $('#deleteitemFeedback').addClass('alert alert-success')
                $('#deleteitemFeedback').text(rsp)
                location.reload()
            },  
            error:function(errormessage){
                console.log(errormessage)
            }
        })
    })
</script>
{% endfor %}

<script type='text/javascript'>
    // empty cart
    $('#btnEmptyCart').click(function(){
        cartuseriD={{session.get('user_cart_id')}}

        var data2send={'emptycartID':cartuseriD}

        $.ajax({
            url:"/emptycart/",
            data:data2send,
            dataType:"text",
            type:"get",
            beforeSend:function(){},
            success:function(rsp){
                $('#deleteitemFeedback').addClass('alert alert-success');
                $('#deleteitemFeedback').text(rsp);
                location.reload()
            },
            error:function(errormessage){
                console.log(errormessage)
            }
        })
    })
</script>
{%endblock scripts%}