{%extends 'user/index.html'%}

{%block title%}Chrysllan - For Women{%endblock%}

{%block content%}
<!--For Women-->
<div class='row mt-3'>
    <div class='col-12'>       
        <h4>Women's Collection</h4>
    </div>
    <div class='col-12'>       
        <h6>Female Footware</h6>
    </div>
    {%for f in WFoot%}
    <div class="col-md-6 col-lg-4 col-xl-3 mb-1">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='productimages/'+f.product_image)}}" alt="{{f.product_name}}">
            <div class="card-body">
                <h5 class="card-title" style="font-size: 15px;">{{f.product_name}}</h5>
                <p><span style="font-size: 22px">&#8358 {{"{:,.0f}".format(f.product_price)}} </span></p>
                
                <form action="/add/cart/{{f.product_id}}" method="post">
                    <input type='hidden' name='csrf_token' class='form-control' value='{{csrf_token()}}' readonly>

                    <button type='submit' class="btn btn-warning">ADD TO CART</button>
                </form>
            </div>
        </div>
    </div>
    {%endfor%}<hr>
</div>
{%endblock content%}

{%block scripts%}
<script type='text/javascript' language='javascript'>
    $(document).ready(function(){

        
    })
</script>
{%endblock scripts%}