{%extends 'user/index.html'%}

{%block title%}Chrysllan - Shop{%endblock%}


{%block content%}
<div class='row'>
    {%set deleted=get_flashed_messages(category_filter="itemOut")%}
    {%for i in deleted%}
        <div class="alert alert-success">{{i}}</div>
    {%endfor%}

    {%set added=get_flashed_messages(category_filter="itemAdded")%}
    {%for x in added%}
        <div class="alert alert-success">{{x}}</div>
    {%endfor%}

    {%set notpaid=get_flashed_messages(category_filter="payerror")%}
    {%for p in notpaid%}
        <div class="alert alert-success">{{p}}</div>
    {%endfor%}

    {%set paid=get_flashed_messages(category_filter="payment_successful")%}
    {%for goodtxn in paid%}
        <div class="alert alert-success">{{goodtxn}}</div>
    {%endfor%}

    {%set incomplete=get_flashed_messages(category_filter="payment_unsuccessful")%}
    {%for badtxn in incomplete%}
        <div class="alert alert-danger">{{badtxn}}</div>
    {%endfor%}

    <div class='col-12'>       
        <h4>Men's Collection</h4>
    </div>
    <div class='col-12'>       
        <h6>Men's Footware</h6>
    </div>
    

    {%for i in MFoot%}
    <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='productimages/'+i.product_image)}}" alt="{{i.product_name}}">
            <div class="card-body">
                <h5 class="card-title" style="font-size: 15px;">{{i.product_name}}</h5>
                <p><span style="font-size: 22px">&#8358; {{"{:,.0f}".format(i.product_price)}}</span></p>
                
                <form action="/add/cart/{{i.product_id}}" method="post">
                    <input type='hidden' name='csrf_token' class='form-control' value='{{csrf_token()}}' readonly>

                    <button type='submit' class="btn btn-warning">ADD TO CART</button>
                </form>
            </div>
        </div>
    </div>
    {%endfor%}<br><hr>
    
    <div class='col-12'>       
        <h6>Men's Accessories</h6>
    </div>
    {%for x in menAcc%}
    <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='productimages/'+x.product_image)}}" alt="{{x.product_name}}">
            <div class="card-body">
                <h5 class="card-title" style="font-size: 15px;">{{x.product_name}}</h5>
                <p><span style="font-size: 22px">&#8358 {{"{:,.0f}".format(x.product_price)}} </span></p>

                <form action="/add/cart/{{x.product_id}}" method="post">
                    <input type='hidden' name='csrf_token' class='form-control' value='{{csrf_token()}}' readonly>

                    <button type='submit' class="btn btn-warning">ADD TO CART</button>
                </form>
            </div>
        </div>
    </div>
    {%endfor%}<hr>
    
</div>
<!--For Women-->
<div class='row mt-3'>
    <div class='col-12'>       
        <h4>Women's Collection</h4>
    </div>
    <div class='col-12'>       
        <h6>Female Footware</h6>
    </div>
    {%for f in WFoot%}
    <div class="col-md-6 col-lg-4 col-xl-3 mb-1">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='productimages/'+f.product_image)}}" alt="{{f.product_name}}">
            <div class="card-body">
                <h5 class="card-title" style="font-size: 15px;">{{f.product_name}}</h5>
                <p><span style="font-size: 22px">&#8358 {{"{:,.0f}".format(f.product_price)}} </span></p>

                <form action="/add/cart/{{f.product_id}}" method="post">
                    <input type='hidden' name='csrf_token' class='form-control' value='{{csrf_token()}}' readonly>

                    <button type='submit' class="btn btn-warning">ADD TO CART</button>
                </form>
            </div>
        </div>
    </div>
    {%endfor%}<hr>
    
</div>
{%endblock content%}

{%block scripts%}
{#Add to cart script#}
<script type='text/javascript' language='javascript'>
    $(document).ready(function(){
        
    })
</script>

{%endblock scripts%}